*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    height: 5rem;
}

#navbar ul{
    display: flex;
    margin-right: 2rem;
}

#navbar li{
    list-style-type: none;
}

#navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1.7rem;
}

#navbar a:hover{
    background-color: rgb(161, 156, 156);
}

#welcome-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

.welcome-content h1{
    text-align: center;
    font-size: 4rem;
}

.welcome-content h2{
    font-size: 3rem;
    text-align: center;
    color: rgb(174, 54, 174)
}

#welcome-section img{
    height: 350px;
    border-radius: 50%;
}

#projects{
    background-color: rgb(62, 166, 207);
    color: white;
    padding: 10rem 2rem;
    text-align: center;
}

.project-header h1{
    font-size: 3rem;
}

.project-tile{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    margin-top: 5rem;
}

.project-tile img{
    border-radius: 10px;
    max-width: 320px;
    height: 300px;
    
}

.project-tile a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#contact{
    padding: 10rem 2rem;
}

.contact-header h1{
    font-size: 3rem;
    text-align: center;
}

.contact-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.contact-content li{
    list-style-type: none;
}

#contact{
    padding: 10rem 2rem;
}

.contact-content a{
    text-decoration: none;
    padding: 2.2rem;
    font-size: 1.5rem;
    color: rgb(174, 54, 174)
}

.contact-content a:hover{
    background-color: rgb(214, 202, 202);
}
@media (max-width: 768px){
    #navbar{
        height: 3rem;
    }

    #navbar a{
        font-size: 1rem;
        padding: 1rem;
    }

    .welcome-content h1{
        font-size: 3rem;
    }

    .welcome-content h2{
        font-size: 2rem;
        text-align: center;
    }

    #welcome-section img{
        height: 300px;
    }

    .project-header h1{
        font-size: 2rem;
    }

    .project-tile img{
        height: 250px;
    }

    .contact-header h1{
        font-size: 2rem;
    }

    .contact-content a{
        font-size: 1rem;
    }

    .contact-content ul{
        margin-top: 3rem;
    }

    #contact{
        padding: 7rem 2rem;
    }

}

@media (max-width: 430px){
    #navbar{
        height: 2rem;
    }

    #navbar a{
        font-size: 1rem;
        padding: 0.5rem;
    }

    .welcome-content h1{
        font-size: 1.5rem;
    }

    .welcome-content h2{
        font-size: 0.8rem;
    }

    #welcome-section img{
        height: 200px;
    }

    .project-header h1{
        font-size: 1.5rem;
    }

    .project-tile img{
        height: 200px;
    }

    .contact-header h1{
        font-size: 1rem;
    }

    .contact-content a{
        font-size: 0.6rem;
    }

    .contact-content ul{
        margin-top: 2rem;
    }

    #contact{
        padding: 5rem 2rem;
    }

}